@import "admin.scss";
@import "admin_buttons.scss";
@import "media_library.scss";
@import "datatables.net-dt/css/jquery.dataTables.min.css";
@import "dataTables.scss";
@import "form.scss";
@import "accordion.scss";
@import "breadcrumbs.scss";
@import "table.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
.container {
    @apply mx-auto px-4;
    max-width: 1100px;
}
.header{
    @apply flex items-center justify-between ;
    height: 80px;
}
.primary-bg{
    background-color: #385FDD;
}
.primary-color{
    color: #385FDD;
}
.home-search-bg{
    background-color: rgba(37,99,235,0.32);
    min-height: 350px;
}
.home-profile-picture{
    max-width: 100px;
}
.footer{
    background-color: #31353a;
}
.hover-primary:hover{
    color: #385FDD;
}

.header-container{
    background-color: #fff;
}
